.nav-link-spacing {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
}

.container {
    display: flex !important;
    align-items: center;
}

.logout-nav {
    margin-left: auto;
}

.logout-link {
    margin-left: 5rem !important;
    margin-right: 0 !important;
}