.nav-link-spacing {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
}

/* Make the Container flex to align items horizontally */
.container {
    display: flex !important;
    align-items: center;
}

/* Push the logout link to the far right */
.logout-nav {
    margin-left: auto;
}

.logout-link {
    margin-left: 5rem !important;
    margin-right: 0 !important;
}